<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode `en` }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body data-index="{{ "index.json" | relURL }}">
  <a class="skip-link" href="#content">Skip to content</a>
  {{ partial "masthead.html" . }}
  <div class="layout">
    {{ partial "sidebar.html" . }}
    <main class="content" id="content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
  {{ if site.Params.linkPreviews | default true }}
    <div class="preview" id="link-preview" role="tooltip" data-preview hidden></div>
  {{ end }}
  {{ partial "head/js.html" . }}
</body>
</html>
